In [1]:
d <- read.csv("hares.csv")
head(d)

  Treatment Replicate Measurement Hare Rabbit Plantspecies Who          Day
1 Dune      1         1           2    3      6            Julia/Sharmi 1
2 Dune      1         2           0    0      5            Julia/Sharmi 1
3 Dune      1         3           6    2      7            Julia/Sharmi 1
4 Dune      1         4           0    0      5            Nguyen       1
5 Dune      1         5           3    2      5            Nguyen       1
6 Dune      2         1           0    0      7            Julia/Sharmi 1

In [3]:
d$Treatment <- factor(d$Treatment)
d$Measurement <- factor(d$Measurement)
d$Replicate <- factor(d$Replicate)
d$Day <- factor(d$Day)
str(d)

'data.frame':	60 obs. of  8 variables:
 $ Treatment   : Factor w/ 3 levels "Agric. grassland",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ Replicate   : Factor w/ 4 levels "1","2","3","4": 1 1 1 1 1 2 2 2 2 2 ...
 $ Measurement : Factor w/ 5 levels "1","2","3","4",..: 1 2 3 4 5 1 2 3 4 5 ...
 $ Hare        : int  2 0 6 0 3 0 2 0 0 0 ...
 $ Rabbit      : int  3 0 2 0 2 0 1 0 2 5 ...
 $ Plantspecies: int  6 5 7 5 5 7 5 3 4 5 ...
 $ Who         : Factor w/ 5 levels "Julia","Julia/Nguyen",..: 3 3 3 4 4 3 3 4 4 4 ...
 $ Day         : Factor w/ 2 levels "1","2": 1 1 1 1 1 1 1 1 1 1 ...

## Check data for hare droppings

Non-normal count data --> Poisson distribution